# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
.idea

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
reserve-data
config.json
cmd/cmd
cmd/core.db
cmd/log.log
cmd/parity.pid
data/storage/test_bolt.db
cmd/faucet/config.json
cmd/faucet/faucet
cmd/faucet/faucet_wallet

build.sh
cmd/dev.db
cmd/internal_mainnet.db
cmd/internal_mainnet_config.json
cmd/keystore_internal_mainnet
cmd/keystore_staging
cmd/kovan.db
cmd/settings.json
cmd/staging.db
cmd/staging_config.json
debugger.txt
log.log
run.sh
test/
